html{
    font-family: helvetica;
    background-color: lightpink;
}

.container{
    max-width: 1250px;
    background-color: #A7C7E7;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

.bold{
    font-weight: bold;
}

/* header */
.header{
    text-align: center;
}

.main-title{
    font-size: 40px;
}

.main-paragraph{
    font-style: italic;
}

/* Imagem destaque*/
.featured-image{
    text-align: center;
    margin-top: 30px;
}

.featured-image img {
    width: 950px;
    height: auto;
}

/* Biografia */
.biography-container{
    padding: 30px 0px;
    margin: 30px 0px;
    border-top: 1px dashed lightpink;
    border-bottom: 1px dashed lightpink;
}
.img-biography{
    text-align: center;
    padding: 30px;
}

/* Quotes*/
.quotes-container{
    background-color: lightpink;
    padding: 30px;
    border-radius: 30px;
}

.quotes-container blockquote{
    font-weight: bold;
    font-size: 30px;
}

.quotes-container p{
    font-style: italic;
}

/* Curiosidades */
.curiositis-container{
    padding: 25px 0px;
    margin: 25px 0px;
    border-top: 1px dashed lightpink;
    border-bottom: 1px dashed lightpink;
}

.curiosities-container li{
    height: 30px;
}

/* Imagem bold*/
.img-bold{
    font-weight: bold;
    text-align: center;
}